body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    font-family: "Roboto Mono Medium", cursive;
}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.values {
    display: grid;
    justify-items: center;
    margin-bottom: 50px;
}

.result-elements {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 1000px);
    justify-items: center;
}
